body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    font-size: .9em;
    color: red;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: red;
}
a:hover {
    text-decoration: underline;
    color: purple;
}
/* icon hover color */
a svg:hover #home,
a svg:hover #email,
a svg:hover #github,
a svg:hover #twitter,
a svg:hover #linkedIn { 
  fill: red;
}
h1 {
    font-size: 1.7em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h3 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
/* blog divider */
hr.blog { 
    border-top: 3px dotted darkorange;
}
p {
    color: #333;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

.post {
    border-bottom: 1px solid black !important; 
}

ul.posts { 
    margin: 20px auto 40px; 
}

ul.posts li {
    list-style: none;
}
.video_container {
	position: relative;
	padding-bottom: 5px; /* 16:9 */
	padding-top: 10%;
    width: 100%
	height: 100%;
}
.video_container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}