---
# Sass stylesheet
---

/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
 
$banner_font: 'Monoton', cursive;
$header_font: 'Varela Round', sans-serif;

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.header {
    font-family: $banner_font;
}
html {
    height: 100%;
}

body {
    background-image: url('/img/new_year_background.png');
    background-size: repeat;
    height: 100%;
}

.main {
    min-height: 100%;
    margin-bottom: -120px;
}

.main:after {
  content: "";
  display: block;
}

footer, .main:after {
  /* .push must be the same height as footer */
	height: 120px; 
}

.post-container {
    max-width: 700px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.page {
    padding-left: 30px;
}

a {
    color: darkorange;
}

a:hover {
    color: #98AFC7;
}

.heading {
    font-family: $header_font;
    font-size: 1.5em;
}

footer {
    font-family: $header_font;
}

svg {
    width: 30px;
    height: 30px;
    fill: white;
}

svg:hover {
    fill: #f3e5f5;
}

#tooltip {
    font-family: $header_font;
}

#contact {
    width: 700px;
    margin: auto;
}

p {
    font-weight: 475;
    font-size: 1.5em;
}

ul, li {
  font-size: 1.3em;
}

.fa:hover {
    color: purple;
}

.side-nav {
  background-image: url('/img/new_year_background.png');
  background-size: repeat;
  a:hover {
    background-color: purple;
  }
}

a.grey-text.heading {
  font-size: 1.1em;
}

#logo-container {
  font-size: 1.8em;
}

