<!--Footer-->
<footer class="page-footer blue-grey lighten-4">
  <div class="container">
    <div class="row">
      <div class="col s6">
        <h5 class="white-text">Made in NYC</h5>
      </div>
      <div class="col s6 right-align">
        <h5 class="white-text">Let's Connect</h5>
        <a class="white-text" href="mailto:yviedev@gmail.com"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
        <a class="white-text" href="https://twitter.com/yviedev" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        <a class="white-text" href="https://github.com/yviedev" target="_blank"><i class="fa fa-github-alt fa-2x" aria-hidden="true"></i></a>
        <a class="white-text" href="https://www.linkedin.com/in/yvonneike" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="purple lighten-5 footer-copyright">
    <div class="container">
      <a class="blue-grey-text" href="http://materializecss.com">© Yvonne Ike, 2016-2017</a>
    </div>
  </div>
</footer>