<!-- Skills Section -->
<section class="success"  id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
                <hr class="star-light">
            </div>
        </div>


<div class="chart" data-percent="80">73% Ruby</div>
<div class="chart" data-percent="75">73% HTML/CSS</div>
<div class="chart" data-percent="50">73% JavaScript</div>


<script src="/js/easypiechart.js"></script>
<script>
    var element = document.querySelector('.chart');
    new EasyPieChart(element, {
        // your options goes here
    });
</script>

    </div>
    </div>
</section>


