<!-- Skills Section -->
<section class="success"  id="skills">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Skills</h2>
                <hr class="star-light">
            </div>
        </div>
        <ul id="skill">
	<li><span class="bar ruby"></span><h3>Ruby</h3></li>
	<li><span class="bar html-css"></span><h3>Html // CSS</h3></li>
	<li><span class="bar javascript"></span><h3>Javascript</h3></li>
	<li><span class="bar sql"></span><h3>SQL</h3></li>
</ul>
    </div>
</section>


