<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
		        	<li><a href="/about">about</a></li>
	        		<li><a href="/cv">cv</a></li>
	        		<li><a href="/blog">blog index</a></li>
					<li><a href="/tags">tags</a></li>
                    <li><a href="/projects">projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:yviedev@NOSPAMgmail.com">email</a></li>
	        		<li><a href="https://github.com/yviedev">github.com/yviedev</a></li>
					<li><a href="https://twitter.com/yviedev">@yviedev</a><li>
					<li><class="copyright">
            		&copy; {{ site.time | date: '%Y' }} | Yvonne Ike</li>
				</ul>
			</footer>
		</body>
	</html>