{% include css/bootstrap.min.css %}
{% include css/main.css %}

.post {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
    width: 50%;
}

/*li {*/
/*    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;*/
/*    font-size: 15px;*/
/*    line-height: 1.42857143;*/
/*    color: #2c3e50;*/
/*    background-color: #ffffff;*/
/*    width: 50%;*/
/*}*/

.btn-success:hover { 
    background-color: #DCE4AD;
    border-color: #DCE4AD;
}

.btn-success {
    background-color: #E4C3AD;
    border-color: #E4C3AD;
}

header .container {
    padding-top: 75px;
    padding-bottom: 30px;
}

header .intro-text .name {
    font-size: 2.5em;
}

.navbar-fixed-top {
    padding: 0px;
}

section {
    padding: 20px 0;
}

section h2 {
    font-size: 2em;
}

.floating-label-form-group input, .floating-label-form-group textarea {
    font-size: 1.5em;

}

header {
    background: #E4C3AD;
}

hr.star-light:after {
    background-color: #E4C3AD;
}

section.success {
    background: #E4C3AD;
}

.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    max-width: 50%;
    margin: auto;
}

#portfolio .portfolio-item .portfolio-link .caption {
    /*need hover link to be centered*/
    max-width: 50%;
    width: 100%;
}

a, a:focus, a:active, a.active {
    color: #F5E9E0;
}


a:hover {
    color: #8C8885;
}

